.views-setting {
  display: flex;

  @media (max-width: 670px) {
    display: none;
  }

  &__views {
    &:nth-child(n + 2) {
      margin-left: 8px;
    }
  }
}

.views-setting-views {
  --color-view-icon: var(--black-100);
  --bg-color-view-icon: transparent;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    min-width: 48px;
    height: 48px;
    background-color: var(--bg-color-view-icon);
    border: 1px solid var(--black-30);

    &--active {
      --color-view-icon: var(--white);
      --bg-color-view-icon: var(--blue-base);
      border: none
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: var(--color-view-icon);
  }
}
