@keyframes progressbar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.modal-catalog-history {
    &__switch {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 1024px) {
        display: none;
      }

      &--prev {
          left: 32px;
      }
      &--next {
          right: 32px;
      }

      &.slide-fade-enter-active,
      &.slide-fade-leave-active {
        transition: all 0.3s linear;
      }

      &.slide-fade-enter-from {
        transform: translate(100%, -50%);
        opacity: 0;
      }
      &.slide-fade-leave-to {
        transform: translate(-100%, -50%);
        opacity: 0;
      }
    }

}

.modal-history {
    position: absolute;
    z-index: 100;
    max-width: 448px;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    margin: 0 auto;

    @media (max-width: 670px) {
        max-width: calc(100% - 16px);
        top: 24px;
        transform: translate(0, 0);
    }

    &__wrap {
        max-height: 100vh;
        height: fit-content;
        background-color: hsl(0, 0%, 100%);
        border-radius: 24px;
        overflow: auto;
        padding: 0;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        @media (max-width: 670px) {
            max-height: calc(100vh - 64px);
        }
    }
    &__close {
        position: absolute;
        top: 0;
        right: -88px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        color: var(--white);
        background-color: rgba(0, 0, 0, .2);
        border-radius: 50%;
    }
    &__close-svg {
        width: 16px;
        height: 16px;
    }

    &__button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        color: var(--white);
        background-color: rgba(0, 0, 0, .2);
        border-radius: 50%;
        transition: .3s ease-out;

        &.swiper-button-disabled {
            cursor: pointer;
        }

        @media (max-width: 670px) {
            display: none;
        }
    }
    &__button--prev {
        left: -88px;
        transform: translate(0, -50%) rotate(180deg);
    }
    &__button--next {
        right: -88px;
    }

    &__button-icon {
        width: 16px;
        height: 16px;
    }

    &__pagination {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        padding: 16px;

        &::v-deep {
            .swiper-pagination-bullet {
                height: 2px;
                max-width: 100%;
                width: 100%;
                background-color: var(--black-20);
                border-radius: 2px;
                opacity: 1;
                margin: 0;
                transition: .3s ease-out;

                &.swiper-pagination-bullet-active {
                  position: relative;
                  &::before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 0;
                    animation: progressbar 2.8s linear forwards;
                    background-color: var(--blue-base);
                  }
                }
            }
        }
    }
}

.history-swiper {
    background-color: var(--black-100);

    &__item {
        opacity: .4;

        &.swiper-slide-active {
            opacity: 1;
        }
    }

    &__img {
        width: 100%;
        max-height: 288px;
        object-fit: cover;
    }

    &__info {
      display: flex;
      flex-direction: column;
      padding: 32px;

      &.fade-out-enter-active,
      &.fade-out-leave-active {
        transition: all 0.3s linear;
      }

      &.fade-out-enter-from {
        transform: translateY(100%);
        opacity: 0;
      }

      &.fade-out-leave-to{
        transform: translateY(-100%);
        opacity: 0;
      }
    }

    &__title {
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
        color: var(--black-100);
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: var(--black-100);
        margin-top: 32px;
    }

    &__btn {
        margin-top: 48px;
    }
}
