.favorites-page {
  &__products {
    margin-top: 24px;
  }

  &__main {
    flex: auto;
  }

  &__main {
    flex: auto;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
  }

  &__navigation {
    margin-top: 24px;

    @media (max-width: 670px) {
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}
