.favorites-page {
  &__products {
    margin-top: 24px;
  }

  &__main {
    flex: auto;
  }

  &__main {
    flex: auto;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
  }

  &__navigation {
    margin-top: 24px;

    @media (max-width: 670px) {
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}

.favorites-page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__more {
    border-radius: 24px;
    border: 1px solid var(--black-30);

    @media (max-width: 670px) {
      width: 100%;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: var(--black-100);
  }

  &__text {
    margin-left: 12px;
    color: var(--black-100);
    line-height: 1.5;
  }

  &__pagination {
    @media (max-width: 670px) {
      width: 100%;
    }
  }
}

.favorites-page-navigation-show {
  @media (max-width: 1024px) {
    display: none;
  }

  &__text {
    line-height: 1.5;
    color: var(--black-50);
  }

  &__count {
    line-height: 1.5;
    color: var(--black-100);
    margin-left: 4px;
  }
}
