.profile-page {
  $self: &;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: auto;
    padding: 32px;
    border-radius: 24px;
    border: 1px solid var(--black-30);
  }

  &__informations {
    width: 100%;
    margin-top: 32px;
  }

  //&__item {
  //  &:nth-child(n + 2) {
  //    margin-top: 24px;
  //  }
  //}

  &__actions {
    align-self: flex-end;
    display: flex;
    margin-top: 32px;
  }

  &__edit {
    margin-left: 8px;
  }
}

.profile-create {
  background-color: var(--black-10);
  border-radius: 8px;
  padding: 16px;
  display: inline-flex;
  align-items: center;

  &__icon {
    width: 16px;
    height: 16px;
  }
  &__text {
    color: var(--black-100);
    line-height: 1.5;
    margin-left: 16px;
  }
}

.profile-info {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;

  &__name {
    display: inline-flex;
    color: var(--black-50);
    line-height: 1.5;
    flex: auto;

    &::after {
      content: '';
      border-bottom: 1px dashed var(--black-50);
      flex: auto;
      margin-left: 8px;
      margin-right: 16px;
      transform: translateY(-6px);
      height: 24px;

      @media (max-width: 670px) {
        content: none;
      }
    }
  }

  &__text {
    flex: none;
  }

  &__value,
  &__input {
    margin-left: 16px;
    line-height: 1.5;
    color: var(--black-100);

    @media (max-width: 670px) {
      margin-left: 0;
    }
  }

  &__value {
    text-align: right;
  }

  &__input {
    width: 50%;
    border: 1px solid var(--black-30);
    padding: 12px;
    border-radius: 8px;
  }
}
