.header {
  position: relative;

  &__main {
    margin-top: 24px;

    @media (max-width: 768px) {
      margin-top: 8px;
    }
  }
}
.header-top {
  background-color: var(--black-10);
  color: var(--black-100);
  padding-top: 20px;
  padding-bottom: 20px;

  @media (max-width: 768px) {
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 12px;
  }

  &__wrapper {
    display: flex;

    @media (max-width: 768px) {
      justify-content: space-between;
    }
  }

  &__navigation,
  &__information {
    width: 50%;
  }

  &__navigation {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.header-main {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--black-30);
  }

  &__search {
    flex: auto;
    display: flex;
    margin-left: 40px;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  &__logo {
    width: 164px;
    height: 41px;

    &--mobile {
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }
    &--desktop {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__field {
    margin-left: 8px;
    flex: auto;
  }

  &__menu {
    flex: none;
  }

  &__buttons {
    display: flex;
    margin-left: 40px;

    @media (max-width: 768px) {
      margin-left: 8px;
    }
  }

  &__auth {
    margin-left: 8px;
  }
}

.header-main-menu {
  &__icon {
    fill: var(--white);
    width: 24px;
    height: 24px;

    @media (max-width: 768px) {
      width: 16px;
      height: 16px;
    }

    &--cross {
      width: 16px;
      height: 16px;
    }
  }

  &__text {
    margin-left: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
}


.header-main-adding,
.header-main-auth {
  &__icon {
    fill: var(--blue-base);
    width: 24px;
    height: 24px;
  }
}

.header-main-auth {
  padding-right: 20px;

  &__text {
    margin-left: 12px;
    line-height: 1.5;

    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    padding-right: 12px;
  }
}
