.header {
  position: relative;

  &__main {
    margin-top: 24px;

    @media (max-width: 1024px) {
      margin-top: 8px;
    }
  }
}
.header-top {
  background-color: var(--black-10);
  color: var(--black-100);
  padding-top: 20px;
  padding-bottom: 20px;

  @media (max-width: 1024px) {
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 12px;
  }
  @media (max-width: 670px) {
    display: none;
  }

  &__wrapper {
    display: flex;

    @media (max-width: 1024px) {
      justify-content: space-between;
    }
  }

  &__navigation,
  &__information {
    width: 50%;
  }

  &__navigation {
    @media (max-width: 1024px) {

    }
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.header-main {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;

    @media (max-width: 670px) {
      padding-bottom: 16px;
      flex-wrap: wrap;
    }
  }

  &__search {
    flex: auto;
    display: flex;
    margin-left: 40px;

    @media (max-width: 1100px) {
      margin-left: 20px;
    }
    @media (max-width: 1024px) {
      margin-left: 0;
    }
    @media (max-width: 670px) {
      flex-wrap: wrap;
      display: contents;
    }
  }

  &__logo {
    width: 221px;
    height: 34px;
    align-self: center;

    @media (max-width: 670px) {
      width: 40px;
      height: 40px;
    }

    &--mobile {
      display: none;

      @media (max-width: 1024px) {
        display: block;
      }
      @media (max-width: 670px) {
        display: none;
      }
    }
    &--desktop {
      @media (max-width: 1024px) {
        display: none;
      }
      @media (max-width: 670px) {
        display: block;
      }
    }
  }

  &__field {
    margin-left: 8px;
    flex: auto;
    @media (max-width: 670px) {
      flex-basis: 100%;
      margin-left: 0;
      margin-top: 8px;
      order: 2;
    }
  }

  &__menu {
    flex: none;
    @media (max-width: 670px) {
      order: 1;
    }
  }

  &__buttons {
    display: flex;
    margin-left: 40px;

    @media (max-width: 1100px) {
      margin-left: 20px;
    }
    @media (max-width: 1024px) {
      margin-left: 8px;
    }
    @media (max-width: 670px) {
      margin-left: auto;
    }
  }

  &__auth {
    margin-left: 8px;
    max-width: 135px;

    @media (max-width: 670px) {
      margin-left: 0;
    }
  }

  &__user {
    margin-left: 8px;

    @media (max-width: 670px) {
      margin-left: 0;
    }
  }
}

.header-main-menu {
  &__icon {
    fill: var(--white);
    width: 24px;
    height: 24px;

    @media (max-width: 1024px) {
      width: 16px;
      height: 16px;
    }

    @media (max-width: 670px) {
      width: 24px;
      height: 24px;
      fill: var(--black-100);
    }

    &--cross {
      width: 16px;
      height: 16px;
    }
  }

  &__text {
    margin-left: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    @media (max-width: 670px) {
      display: none;
    }
  }

  @media (max-width: 670px) {
    background-color: transparent;
  }
}

.header-main-adding,
.header-main-auth {
  &__icon {
    fill: var(--blue-base);
    width: 24px;
    height: 24px;

    @media (max-width: 670px) {
      fill: var(--black-100);
    }
  }

  @media (max-width: 670px) {
    background-color: transparent;
  }
}

.header-main-auth {
  $self: &;
  padding-right: 16px;

  &--is-no-auth {
    padding-right: 20px;
  }

  &__text {
    line-height: 1.5;
    flex: auto;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__icon {
    margin-right: 12px;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    margin-left: 12px;
    flex: none;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    padding-right: 12px;
  }

  &--is-user {
    #{$self}__text {
      @media (max-width: 1024px) {
        display: inline;
        text-overflow: initial;
      }
    }
  }
}

.header-main-user {
  position: relative;

  &__wrap {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    min-width: 258px;
    padding-top: 8px;
  }
}
