.navigation {
  &__list {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 20px 8px;
    }
  }

  &__item {
    &:nth-child(n + 2) {
      margin-left: 24px;

      @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }

  &__link {
    font-size: 12px;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
