.search-field {
  display: flex;

  &__wrap {
    display: flex;
    padding: 8px 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid var(--blue-base);
    flex: auto;
    max-width: 710px;
  }

  &__input {
    flex: auto;

    &::placeholder {
      color: var(--black-50);
      line-height: 1.5;
    }
  }

  &__map {
    display: flex;
    flex: none;
    padding-left: 20px;
    margin-left: 16px;
    border-left: 1px solid var(--black-10);

    @media (max-width: 768px) {
      padding-left: 16px;
    }
  }

  &__geo {
    width: 24px;
    height: 24px;
    fill: var(--blue-base);
  }

  &__in {
    color: var(--blue-base);
    line-height: 1.5;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__text {
    font-weight: 500;
    line-height: 1.5;
  }
}
