.search-field {
  display: flex;
  position: relative;

  &--focus {
    @media (max-width: 670px) {
      padding: 8px 16px 16px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      &::before {
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: hsla(220, 43%, 11%, 0.5);
        z-index: 10;
        top: 0;
        left: 0;
      }
    }
  }


  &__wrap {
    display: flex;
    padding: 8px 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid var(--blue-base);
    flex: auto;
    max-width: 710px;
    background-color: var(--white);

    &--focus {
      position: relative;
      z-index: 15;
      @media (max-width: 670px) {
        margin-left: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }

    @media (max-width: 670px) {
      padding-right: 12px;
    }
  }

  &__input {
    flex: auto;
    background-color: var(--white);

    @media (max-width: 670px) {
      width: 10px;
    }

    &::placeholder {
      color: var(--black-50);
      line-height: 1.5;
    }
  }

  &__map {
    display: flex;
    flex: none;
    padding-left: 20px;
    margin-left: 16px;
    border-left: 1px solid var(--black-10);

    @media (max-width: 1100px) {
      padding-left: 16px;
    }
    @media (max-width: 670px) {
      padding-left: 12px;
    }
  }

  &__geo {
    width: 24px;
    height: 24px;
    fill: var(--blue-base);
  }

  &__in {
    color: var(--blue-base);
    line-height: 1.5;

    @media (max-width: 1100px) {
      display: none;
    }
  }

  &__submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 670px) {
      padding-left: 12px;
      padding-right: 12px;
    }

    &--focus {
      position: relative;
      z-index: 15;

      @media (max-width: 670px) {
        margin-left: 8px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
    }
  }

  &__text {
    font-weight: 500;
    line-height: 1.5;
    @media (max-width: 670px) {
      display: none;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: var(--white);
    display: none;

    @media (max-width: 670px) {
      display: block;
    }
  }

  &__result {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 88px);

    @media (max-width: 670px) {
      width: 100%;
    }
  }
}

.search-field-results {
  padding-top: 16px;

  @media (max-width: 670px) {
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
  &::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: hsla(220, 43%, 11%, 0.5);
    z-index: 10;
    top: 0;
    left: 0;

    @media (max-width: 670px) {
      content: none;
    }
  }

  &__list {
    position: relative;
    z-index: 15;
    background-color: var(--white);
    border-radius: 24px;
    padding: 16px;
    overflow: auto;
    max-height: 512px;

    @media (max-width: 670px) {
      max-height: 480px;
    }
  }

  &__result {
    width: 100%;
  }
}

.search-field-result {
  $self: &;
  padding: 12px 16px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  min-width: 0;


  &__name {
    color: var(--black-100);
    line-height: 1.5;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: auto;
  }

  &__arrow {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    margin-left: 54px;
    width: 16px;
    height: 16px;
    fill: var(--blue-base);
    flex: none;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &:hover {
    background-color: var(--blue-transparent);

    #{$self}__arrow {
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
    }
    #{$self}__name {
      color: var(--blue-base);
    }
  }
}
