.catalog-list {
  $self: &;
  &__item {
    &:nth-child(n + 2) {
      margin-top: 16px;
    }
  }

  &--is-compacted-view {
    display: grid;
    grid-template-columns: repeat(4, minmax(256px, 1fr));
    grid-gap: 16px;

    #{$self}__item {
      &:nth-child(n + 2) {
        margin-top: 0;
      }
    }
    
    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
    @media (max-width: 670px) {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
  }
}

