.catalog-head {
  display: inline-flex;
  align-items: center;

  &__title {
    color: var(--black-100);
    font-size: 64px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.64px;
  }

  &__count {
    color: var(--black-50);
    font-size: 21px;
    margin-left: 12px;
  }
}
