.catalog-filters {
  padding-top: 24px;
  display: flex;
  flex-direction: column;

  &__section {
    &:nth-child(n + 2) {
      margin-top: 32px;
    }
  }

  &__fields,
  &__list,
  &__more {
    margin-top: 16px;
  }

  &__selector {
    min-height: 48px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    
    @media (max-width: 1024px) {      
      position: fixed;
      max-width: 384px;
      width: 100%;
      left: 50%;
      bottom: 120px;
      transform: translate(-50%, 0);
      background-color: var(--white);
      border-top: 1px solid var(--black-10);
      border-radius: 0 0 24px 24px;
      padding: 16px 32px 32px;
    }
    @media (max-width: 670px) {
      max-width: 100%;
      left: 0;
      bottom: 0;
      transform: translate(0, 0);
      border-radius: 0;
    }
  }
}

.catalog-filters-title {
  color: var(--black-100);
  font-weight: 600;
  line-height: 1.5;
}

.catalog-filters-fields {
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid var(--black-30);
  border-radius: 8px;

  @media (max-width: 1024px) {
    display: flex;
  }

  &__field {
    flex-shrink: 0;
    padding-top: 12px;
    padding-bottom: 12px;

    &:nth-child(n + 2) {
      border-top: 1px solid var(--black-30);
    }
    
    @media (max-width: 1024px) {
      max-width: 50%;
      width: 50%;
      padding-left: 6px;
      padding-right: 6px;

      &:last-child {
        border-top: none;
        border-left: 1px solid var(--black-30);
      }
    }
  }

  &__input {
    max-width: 100%;
    width: 100%;
    font-size: 12px;
  }
}

.catalog-filters-list {
  &__item {
    &:nth-child(n + 2) {
      margin-top: 16px;
    }
  }
}

.catalog-filters-checkbox {
  display: flex;
  align-items: flex-start;

  &__text {
    margin-left: 8px;
    color: var(--black-100);
    line-height: 1.5;
  }
}

.catalog-filters-more {
  &__icon {
    width: 24px;
    height: 24px;
    fill: var(--blue-base)
  }
  &__text {
    margin-left: 8px;
    color: var(--blue-base);
    line-height: 1.5;
  }
}
