.catalog-head {
  display: inline-flex;
  align-items: center;

  &__title {
    color: var(--black-100);
  }

  &__count {
    color: var(--black-50);
    font-size: 21px;
    margin-left: 12px;

    @media (max-width: 670px) {
      display: none;
    }
  }
}
