.h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.64px;

  @media (max-width: 600px) {
    font-size: 36px;
    line-height: 1.1;
  }
}
.h2 {
  font-size: 54px;
  font-weight: 500;
  line-height: 1;

  @media (max-width: 600px) {
    font-size: 32px;
  }
}
.h3 {
  font-weight: 500;
  line-height: 1.04;
  font-size: 44px;

  @media (max-width: 600px) {
    font-size: 26px;
  }
}
.h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;

  @media (max-width: 600px) {
    font-size: 24px;
    line-height: 1.16;
  }
}
.h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.09;
  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 1.5;
  }
}
.h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}
