:root {
  --black-10: #D9DCE0;
  --black-30: #D9DCE0;
  --black-50: #99A1AB;
  --black-60: #737F8C;
  --black-70: #4D5C6C;
  --black-90: #1A2D42;
  --black-100: #101828;
  --white: #fff;
  --primary-base: #0075FF;
  --primary-transparent: #E2EFFE;
  --orange-dark: #d17710;
  --green-dark: #0F9547;
  --blue-dark: #2593B6;
  --blue-base: #0075FF;
}
