:root {
  --black-05: #F8F8F8;
  --black-10: #F2F3F4;
  --black-20: #E6E8EA;
  --black-30: #D9DCE0;
  --black-40: #bfc4ca;
  --black-50: #99A1AB;
  --black-60: #737F8C;
  --black-70: #4D5C6C;
  --black-90: #1A2D42;
  --black-100: #101828;
  --white: #fff;
  --orange-transparent: #FFF2C5;
  --orange-base: #FFAE12;
  --orange-dark: #d17710;
  --green-base: #1BD66A;
  --green-dark: #0F9547;
  --green-transparent: #C7FBDC;
  --blue-dark: #0059C2;
  --blue-light: #66ACFF;
  --blue-transparent: #E2EFFE;
  --blue-base: #0075FF;
}
