.ui-button-link {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: center;

  &--primary {
    color: var(--blue-base);
  }

  &--primary-transparent {
    color: var(--blue-transparent);
  }

  &--gray {
    color: var(--black-10);
  }
}
