.ui-button {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 8px;

  &--primary {
    background-color: var(--blue-base);
    color: var(--white);
  }

  &--primary-transparent {
    background-color: var(--blue-transparent);
    color: var(--blue-base);
  }

  &--primary-dark {
    background-color: var(--blue-dark);
    color: var(--white);
  }

  &--gray {
    background-color: var(--black-10);
    color: var(--black-100);
  }

  &--transparent {
    background-color: transparent;
    color: var(--black-100);
  }
}
