.ui-button {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 8px;

  &--primary {
    background-color: var(--primary-base);
    color: var(--white);
  }

  &--primary-transparent {
    background-color: var(--primary-transparent);
    color: var(--primary-base);
  }

  &--gray {
    background-color: var(--black-10);
    color: var(--black-100);
  }
}
