.ui-breadcrumbs {
  $self: &;
  border-top: 1px solid var(--black-30);
  padding-top: 24px;

  @media (max-width: 670px) {
    padding-top: 16px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    min-width: 0;
    flex: none;

    &:nth-child(n + 2) {
      margin-left: 8px;
    }
    &:nth-child(n + 3) {
      #{$self}__link {
        @media (max-width: 670px) {
          display: none;
        }
      }
      #{$self}__chevron {
        @media (max-width: 670px) {
          display: none;
        }
      }
    }
    &:nth-child(3) {
      &::after {
        display: block;
        color: inherit;

        @media (max-width: 670px) {
          content: '...';
        }
      }

      #{$self}__chevron {
        @media (max-width: 670px) {
          display: block;
        }
      }
    }

    &:last-child {
      flex: auto;

      #{$self}__link {
        @media (max-width: 670px) {
          display: block;
        }
      }

      #{$self}__chevron {
        @media (max-width: 670px) {
          display: block;
        }
      }

      &::after {
        content: none;
      }
    }
  }

  &__link {
    font-size: 12px;
    color: var(--black-50);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &--active {
      color: var(--black-100)
    }
  }

  &__icon,
  &__chevron {
    width: 16px;
    height: 16px;
    fill: var(--black-40);
  }

  &__chevron {
    margin-right: 8px;
    flex: none;
  }
}
