.news-list-page {
  padding-bottom: 64px;

  &__wrapper {
    padding-top: 24px;

    @media (max-width: 670px) {
      padding-top: 16px;
    }
  }

  &__title {
    margin-top: 32px;
    color: var(--black-100);
    font-size: 64px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.64px;

    @media (max-width: 600px) {
      margin-top: 16px;
      font-size: 36px;
    }
  }

  &__list {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid var(--black-30);
    display: grid;
    grid-template-columns: repeat(5, minmax(190px, 1fr));
    grid-gap: 16px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 600px) {
      margin-top: 16px;
      padding-top: 16px;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 360px) {
      grid-template-columns: auto;
    }
  }

  &__box {
    min-height: 384px;

    @media (max-width: 1024px) {
      min-height: 368px;
    }

    @media (max-width: 670px) {
      min-height: 272px;
    }

    @media (max-width: 360px) {
      min-height: initial;
    }
  }

  &__navigation {
    margin-top: 24px;
  }
}

.news-list-page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__more {
    border-radius: 24px;
    border: 1px solid var(--black-30);
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: var(--black-100);
  }

  &__text {
    margin-left: 12px;
    color: var(--black-100);
    line-height: 1.5;
  }

  &__show {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.news-list-page-navigation-show {
  &__text {
    line-height: 1.5;
    color: var(--black-50);
  }

  &__count {
    line-height: 1.5;
    color: var(--black-100);
    margin-left: 4px;
  }
}
