.news-page {
  padding-bottom: 64px;

  &__wrapper {
    padding-top: 24px;

    @media (max-width: 670px) {
      padding-top: 16px;
    }
  }

  &__main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    border-radius: 24px;
    border: 1px solid var(--black-30);
    padding: 32px;

    @media (max-width: 1024px) {
      border-right: none;
      border-left: none;
      max-width: initial;
      padding-left: 0;
      border-radius: 0;
      padding-right: 0;
    }
    @media (max-width: 670px) {
      margin-top: 16px;
    }
  }

  &__additional {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;

    @media (max-width: 670px) {
      max-width: initial;
    }
  }

  &__title {
    color: var(--black-100);
    font-size: 44px;
    font-weight: 500;
    line-height: 1.09;

    @media (max-width: 670px) {
      font-size: 24px;
    }
  }

  &__date {
    color: var(--black-50);
    font-size: 12px;
    margin-top: 16px;
  }

  &__picture {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 32px;

    @media (max-width: 670px) {
      margin-top: 24px;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__text {
    color: var(--black-100);
    font-size: 21px;
    margin-top: 32px;

    @media (max-width: 670px) {
      font-size: 18px;
      margin-top: 24px;
    }
  }

  &__other {
    margin-top: 64px;

    @media (max-width: 670px) {
      margin-top: 40px;
    }
  }
}

.news-page-additional {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 670px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__wrap {
    display: flex;
    align-items: center;
    margin-left: 16px;

    @media (max-width: 670px) {
      margin-left: 0;
      margin-top: 24px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__all {
    color: var(--blue-base);
    line-height: 1.5;
  }

  &__socials {
    margin-left: 8px;

    @media (max-width: 670px) {
      margin-left: 0;
      margin-top: 8px;
    }
  }
}

.news-other {
  &__title {
    color: var(--black-100);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;

    @media (max-width: 670px) {
      font-size: 24px;
    }
  }

  &__list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, minmax(190px, 1fr));
    grid-gap: 16px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 670px) {
      margin-top: 16px;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 414px) {
      grid-template-columns: initial;
    }
  }
}

