.product-page {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;

    @media (max-width: 670px) {
      padding-bottom: 32px;
    }
  }

  &__advertising {
    flex: none;
    margin-left: 16px;
    min-width: 256px;
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(2, 75% 25%);
    border-radius: 24px;
    border: 1px solid var(--black-30);
    padding: 32px 16px 32px 32px;
    margin-top: 24px;

    @media (max-width: 1024px) {
      border-radius: 0;
      border-top: 1px solid var(--black-30);
      border-bottom: 1px solid var(--black-30);
      border-left: none;
      border-right: none;
      padding: 32px 0;
    }
  }

  &__information {
    grid-column: 1/2;
    max-width: 100%;
    width: 100%;

    @media (max-width: 1024px) {
      grid-column: 1/3;
      grid-row: 3/4;
    }
  }

  &__base {
    grid-column: 2/3;
    grid-row: 1/3;
    max-width: 100%;
    width: 100%;
    border-left: 1px solid var(--black-30);

    @media (max-width: 1024px) {
      grid-column: 1/3;
      grid-row: 2/3;
      border-left: none;
    }
  }

  &__additional {
    margin-top: 16px;
  }

  &__aside {
    margin-top: 64px;

    @media (max-width: 670px) {
      margin-top: 40px;
    }
  }

  &__title {
    color: var(--black-100);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;

    @media (max-width: 670px) {
      font-size: 24px;
    }
  }

  &__wrap {
    margin-top: 40px;
  }
}

.product-page-head {
  grid-column: 1/2;

  @media (max-width: 1024px) {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  &__title {
    color: var(--black-100);
  }

  &__additional {
    margin-top: 16px;
    display: inline-flex;
  }

  &__number,
  &__date {
    color: var(--black-50);
    font-size: 12px;
    display: inline-flex;
    align-items: center;
  }

  &__date {
    margin-left: 6px;

    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 2px;
      margin-right: 6px;
      background-color: var(--black-30);
      border-radius: 50%;
    }
  }
}

.product-page-information {
  padding-top: 32px;
  padding-right: 32px;

  @media (max-width: 1024px) {
    padding-right: 0;
  }

  &__picture {
    width: 100%;
    height: 552px;
    display: block;

    @media (max-width: 1024px) {
      height: 298px;
    }
    @media (max-width: 640px) {
      display: none;
    }
  }

  &__img {
    width: 100%;
    max-height: 100%;
    object-position: top center;
    object-fit: contain;
    border-radius: 8px;
  }

  &__slider {
    margin-top: 8px;
    height: 64px;
    max-width: 100%;

    @media (max-width: 640px) {
      height: auto;
    }
  }

  &__description {
    margin-top: 32px;
  }

  &__location {
    margin-top: 32px;
  }

  &__characteristics {
    margin-top: 32px;
  }

  &__warning {
    margin-top: 48px;
    max-width: 605px;

    @media (max-width: 1024px) {
      margin-top: 16px;
    }
  }
}

.product-page-slider {
  &__img {
    width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
    border-radius: 8px;
  }

  &__slide {
    cursor: pointer;

    &--active {
      border-radius: 8px;
      border: 2px solid var(--blue-base);
      padding: 8px;

      @media (max-width: 640px) {
        border: none;
        padding: 0;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 8px;
    --swiper-pagination-bottom: 0;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-horizontal-gap: 8px;
    --swiper-pagination-bullet-inactive-color: var(--black-100);
    --swiper-pagination-color: var(--black-100);
    --swiper-pagination-bullet-inactive-opacity: 0.2;
  }

  &__picture {
    @media (max-width: 640px) {
      width: 100%;
      height: 216px;
      display: block;
    }
  }
}

.product-page-information-description {
  background-color: var(--black-10);
  border-radius: 8px;
  padding: 28px 32px;

  &__text,
  p {
    line-height: 1.5;
    color: var(--black-100);
    overflow: hidden;

    &:nth-child(n + 2) {
      margin-top: 32px;
    }
  }
}

.product-page-information-location {
  &__title {
    color: var(--black-100);
  }

  &__text {
    margin-top: 24px;
    line-height: 1.5;
    color: var(--black-100);
  }

  &__maps {
    height: 368px !important;
    margin-top: 24px;

    @media (max-width: 1024px) {
      height: 352px !important;
    }
    @media (max-width: 670px) {
      height: 228px !important;
    }
  }
}

.product-page-information-characteristics {
  padding-right: 32px;

  @media (max-width: 1024px) {
    padding-right: 0;
  }

  &__tabs {
    display: flex;
    width: 100%;
    overflow-x: auto;
    margin-bottom: -8px;
    padding-bottom: 8px;
    position: sticky;
    top: 16px;
    background-color: var(--white);
    @media (max-width: 1024px) {
      width: calc(100% + 32px);
      top: 8px;
    }
    @media (max-width: 670px) {
      width: calc(100% + 16px);
    }
  }
  &__item {
    flex-shrink: 0;

    &:nth-child(n + 2) {
      margin-left: 8px;
    }
  }

  &__section {
    margin-top: 32px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px 16px;

    @media (max-width: 670px) {
      margin-bottom: 8px;
    }
  }

  &__title {
    color: var(--black-100);
  }

  &__paragraph {
    margin-top: 24px;
    display: flex;

    @media (max-width: 670px) {
      flex-direction: column;
      margin-top: 0;
      padding: 8px 0;
    }
  }

  &__name,
  &__value,
  &__link {
    width: 50%;
  }

  &__name {
    display: inline-flex;
    color: var(--black-50);
    line-height: 1.5;

    &::after {
      content: '';
      border-bottom: 1px dashed var(--black-50);
      flex: auto;
      margin-left: 8px;
      transform: translateY(-6px);
      height: 24px;

      @media (max-width: 670px) {
        content: none;
      }
    }
  }


  &__text {
    flex: none;
  }

  &__value,
  &__link {
    margin-left: 16px;
    line-height: 1.5;
    color: var(--black-100);

    @media (max-width: 670px) {
      margin-left: 0;
    }
  }

  &__link {
    color: var(--blue-base);
    cursor: pointer;
  }
}

.product-page-information-characteristics-category {
  &__wrap {
    padding: 12px 16px;
    background-color: var(--black-10);
    border-radius: 24px;

    &--active {
      background-color: var(--blue-base);

      .product-page-information-characteristics-category__text {
        color: var(--white);
      }
    }
  }

  &__text {
    color: var(--black-100);
    text-align: center;
    line-height: 1.5;
  }
}

.product-page-information-more {
  &__icon {
    width: 16px;
    height: 16px;
    fill: var(--blue-base);
    margin-left: 8px;
  }

  &__text {
    color: var(--blue-base);
    line-height: 1.5;
  }
}

.product-page-information-warning {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: var(--orange-transparent);
  padding: 16px;

  &__icon {
    width: 16px;
    height: 16px;
    fill: var(--black-100);
  }

  &__text {
    margin-left: 16px;
    color: var(--black-100);
    line-height: 1.5;
  }
}

.product-page-additional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;

  &__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: auto;
  }

  &__history {
    color: var(--blue-base);
    line-height: 24px; /* 150% */
  }

  &__socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.product-page-base {
  padding-left: 16px;

  @media (max-width: 1024px) {
    padding-top: 32px;
    padding-left: 0;
  }

  &__sticky {
    position: sticky;
    top: 16px;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 16px;
    padding: 16px;
    background-color: var(--black-10);
    border-radius: 8px;

    @media (max-width: 1024px) {
    }
  }

  &__price {
    color: var(--black-100);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;

    @media (max-width: 1024px) {
      margin-right: auto;
    }
  }

  &__statuses {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 8px;
    margin-top: -8px;
    flex-basis: 100%;
  }

  &__item {
    margin-top: 8px;
  }

  &__favorites {
    margin-left: 8px;
    width: 48px;
  }

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__buttons {
    display: flex;
    margin-top: 8px;
  }

  &__buy {
    flex: auto;
  }

  &__salesman {
    margin-top: 24px;
  }
}

.product-page-status {
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 10px;
  line-height: 1.2;
  display: inline-block;

  &--orange {
    background-color: hsla(39, 100%, 54%, 0.2);
    color: var(--orange-dark);
  }

  &--green {
    background-color: var(--green-transparent);
    color: var(--green-dark);
  }

  &--blue {
    background-color: hsla(194, 100%, 65%, 0.2);
    color: var(--blue-dark);
  }
  &--white {
    background-color: var(--white);
    color: var(--black-100);
  }
}

.product-page-incorporate {
  display: inline-flex;
  flex-direction: column;
  color: var(--black-50);
  font-size: 12px;

  &__text {
    &--bold {
      font-weight: 500;
      color: var(--black-100);
    }
  }
}

.product-page-actions-button {
  padding-left: 20px;
  padding-right: 20px;

  &__text {
    font-size: 16px;
    line-height: 1.33;
  }
}

.product-page-salesman {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;

  @media (max-width: 670px) {
    flex-direction: column;
  }

  &__person {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  &__title {
    color: var(--black-100);
    font-size: 12px;
  }

  &__name {
    color: var(--black-100);
    line-height: 1.5;
  }

  &__registration {
    font-size: 12px;
    color: var(--black-50);
  }

  &__connect {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    @media (max-width: 670px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__contacts {
    display: flex;
    gap: 8px;
  }

  &__contact {
    border-radius: 50%;
    border: 1px solid var(--black-30);
    padding: 12px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: var(--black-100);
  }
}

.product-page-salesman-phone {
  max-width: 100%;
  width: 100%;
  border: 1px solid var(--black-30);
  border-radius: 24px;
  padding: 12px 20px 12px 16px;

  @media (max-width: 1024px) {
    max-width: fit-content;
  }
  @media (max-width: 670px) {
    max-width: 100%;
  }

  &__icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    fill: var(--black-100);
  }

  &__text {
    margin-left: 16px;
    line-height: 1.5;
    flex: auto;
    display: flex;
    gap: 0 5px;

    &--blue {
      color: var(--blue-base);
      margin-left: auto;
      display: inline-block;
    }

    &--desc {
      display: inline-block;

      @media (min-width: 1024px) and (max-width: 1150px) {
        display: none;
      }
    }
  }
}
