.main-page-advantages {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    max-width: 1189px;
  }

  &__item {
    &:nth-child(n + 2) {
      margin-left: 8px;
    }
  }
}

.main-page-advantage {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 20px;
  background-color: var(--black-10);

  &__icon {
    width: 32px;
    height: 32px;
    flex: none;
  }

  &__text {
    flex: auto;
    display: inline-block;
    margin-left: 12px;
    color: var(--black-100);
    line-height: 1.5;
  }
}
