.card-product-order-status {
  display: inline-flex;
  align-items: center;
  line-height: 1.5;
  color: var(--orange-base);
  background-color: var(--black-05);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;

  &::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--orange-dark);
    border-radius: 50%;
    margin-right: 8px;
  }

  &--success {
    color: var(--green-base);

    &::before {
      background-color: var(--green-dark);
    }
  }
}
