$base: '.card-product';

.card-product-information {
  display: flex;
  padding: 16px 16px 0;

  @media (max-width: 670px) {
    flex-direction: column;
  }

  &__picture {
    width: 192px;
    height: 144px;
    flex: none;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;

    @media (max-width: 670px) {
      width: 100%;
      height: auto;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
    border-radius: 8px;

    @media (max-width: 670px) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__description {
    margin-left: 24px;

    @media (max-width: 670px) {
      margin-left: 0;
      margin-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__title {
    max-width: 568px;
    font-size: 21px;
    font-weight: 500;
    color: var(--black-100);
    cursor: pointer;

    @media (max-width: 1024px) {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical
    }
    @media (max-width: 670px) {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 568px;
    color: var(--black-70);
    margin-top: 12px;

    @media (max-width: 670px) {
      display: none;
    }
  }

  &__addition {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: none;

    @media (max-width: 1024px) {
      margin-left: 28px;
    }
    @media (max-width: 670px) {
      margin-left: 0;
      margin-top: 8px;
      align-items: flex-start;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__price {
    text-align: right;
    color: var(--black-100);
    font-size: 21px;
    font-weight: 600;

    @media (max-width: 670px) {
      text-align: left;
    }
  }

  &__status {
    margin-top: 12px;

    @media (max-width: 1024px) {
      max-width: 155px;
    }
    @media (max-width: 670px) {
      display: none;
    }
  }

  &__incorporate {
    margin-top: 12px;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  #{$base}--is-compacted-view & {
    flex-direction: column;
    padding: 0;
    flex: auto;

    &__picture {
      width: 100%;
      height: 192px;

      @media (max-width: 1024px) {
        height: 168px
      }
    }

    &__description {
      margin-left: 0;
      padding-left: 16px;
      padding-right: 16px;
    }

    &__title {
      max-width: initial;
      font-size: 14px;
      font-weight: 400;
      margin-top: 12px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    &__addition {
      margin-left: 0;
      align-items: stretch;
      padding-left: 16px;
      padding-right: 16px;
    }

    &__price {
      text-align: left;
      margin-top: 8px;
    }
  }
}

.card-product-status {
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 10px;
  line-height: 1.2;

  &--orange {
    background-color: hsla(39, 100%, 54%, 0.2);
    color: var(--orange-dark);
  }

  &--green {
    background-color: var(--green-transparent);
    color: var(--green-dark);
  }

  &--blue {
    background-color: hsla(194, 100%, 65%, 0.2);
    color: var(--blue-dark);
  }
}

.card-product-incorporate {
  display: inline-flex;
  flex-direction: column;
  color: var(--black-50);

  @media (max-width: 1024px) {
    display: none;
  }

  &__text {
    text-align: right;
    font-size: 12px;

    &--bold {
      font-weight: 500;
    }
  }

  &__price {
    text-align: right;
    font-size: 12px;
  }
}
