.footer {
  min-height: 456px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 48px;
    border-top: 1px solid var(--black-30);
    height: 100%;
  }

  &__additional {
    max-width: 488px;
  }

  &__information {
    height: 100%;
  }

  &__navigation {
    margin-left: 16px;
    min-width: 256px;
  }
}

.footer-additional {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__documents {
    margin-top: 40px;
  }

  &__copyright,
  &__certificate {
    margin-top: 56px;
    font-size: 12px;
    color: var(--black-60);
  }

  &__right {
    display: flex;
    margin-left: 16px;
  }

}

.footer-subscription {
  &__title {
    font-size: 30px;
    line-height: 1.1;
    color: var(--black-100);
    font-weight: 500;
  }

  &__field {
    margin-top: 16px;
    display: flex;
    border: 1px solid var(--black-30);
    border-radius: 8px;
    padding: 12px;
  }

  &__input {
    flex: auto;
    line-height: 1.5;

    &::placeholder {
      color: var(--black-50);
      line-height: 1.5;
    }
  }

  &__submit {
    flex: none;
    margin-left: 4px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: var(--black-100);
  }
}

.footer-documents {
  &__item {
    &:nth-child(n + 2) {
      margin-top: 8px;
    }
  }

  &__link {
    color: var(--blue-base);
    font-size: 12px;
  }
}

.footer-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__phone {
    display: flex;
    flex-direction: column;
  }

  &__number {
    color: var(--black-100);
    font-size: 30px;
    line-height: 1.1;
    font-weight: 500;
  }

  &__note {
    color: var(--black-60);
    font-size: 12px;
  }

  &__address {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }

  &__text,
  &__schedule {
    color: var(--black-100);
    line-height: 1.5;
  }

  &__schedule {
    margin-top: 16px;
  }

  &__socials {
    margin-top: 56px;
  }
}

.footer-socials {
  display: flex;

  &__item {
    &:nth-child(n + 2) {
      margin-left: 8px;
    }
  }

  &__social {
    display: block;
    padding: 12px;
    border: 1px solid var(--black-30);
    border-radius: 16px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: var(--black-100);
  }
}

.footer-navigation {
  text-align: right;

  &__item {
    &:nth-child(n + 2) {
      margin-top: 8px;
    }
  }

  &__link {
    text-align: right;
    color: var(--black-100);
    line-height: 1.5;
  }
}
