.footer-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__address {
    margin-top: 32px;
  }

  &__socials {
    margin-top: 56px;

    @media (max-width: 1024px) {
      margin-top: 32px;
    }
    @media (max-width: 670px) {
      margin-top: 24px;
    }
  }


  &__certificate {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

