.footer {
  min-height: 456px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 48px;
    border-top: 1px solid var(--black-30);
    height: 100%;
  }

  &__additional {
    max-width: 488px;
  }

  &__information {
    height: 100%;
  }

  &__navigation {
    margin-left: 16px;
    min-width: 256px;
  }

  &__right {
    display: flex;
    margin-left: 16px;
  }
}
